[submodule "eslint"]
	path = repos/eslint
	url = https://github.com/eslint/eslint.git
[submodule "repos/eslint-plugin-react"]
	path = repos/eslint-plugin-react
	url = https://github.com/yannickcr/eslint-plugin-react.git
