.preview {
  padding: 0 1em;

  @at-root {
    #{&}__button {
      font-size: 80%;
      margin-right: .5em;

      i.fa {
        margin-right: .5em;
      }
    }

    #{&}__json {
      background-color: #f7f7f7;
      padding: .5em 1em;
    }
  }
}
