.checklist-table {
  width: 100%;

  th {
    padding: .5em 2em;
    text-align: left;
  }

  td {
    padding: .2em 2em;
    text-align: left;
  }

  tbody tr:first-child td {
    padding-top: .5em;
  }

  @at-root {
    #{&}__header {
      border-bottom: 1px solid #eee;
    }
  }

  .checkbox__label {
    margin-left: 1.5em;
  }
}
