.global-list {
  width: 100%;

  @at-root {
    #{&}__remove-col {
      width: 15px;
    }

    #{&}__value-col {
      width: 145px;
    }

    #{&}__head {
      border-bottom: 3px double #C1C1C1;
      font-size: 80%;
    }

    #{&}__remove {
      color: red;
      opacity: .4;
      font-size: 80%;
      margin-right: .5em;

      &:hover {
        opacity: 1;
      }
    }

    #{&}__var-name {
      font-size: 80%;
      //margin-left: .5em;
    }
  }

  th, td {
    text-align: left;
  }

  thead th {
    padding-bottom: .3em;
  }

  tbody tr:first-child td {
    padding-top: .3em;
  }

  th:first-child {
    padding-left: 1em;
  }
}
