.global-list {
  width: 100%;

  @at-root {
    #{&}__remove-col {
      width: 15px;
    }

    #{&}__value-col {
      width: 145px;
    }

    #{&}__head {
      border-bottom: 1px solid #eee;
    }

    #{&}__remove {
      color: red;
      opacity: .4;
      font-size: 120%;

      &:hover {
        opacity: 1;
      }
    }

    #{&}__var-name {
      //margin-left: .5em;
    }
  }

  th, td {
    text-align: left;
    padding-left: .5em;
  }
}
