.menu {
  position: fixed;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #A4A4A4;
  z-index: 99;
  width: 70.8333%;

  @at-root {
    #{&}__heading {
      text-transform: none;
    }

    #{&}__children {
      border: 1px solid #A4A4A4;
    }
  }
}
