$hover-background-color: #eee;

.option-group {
  background-color: #EFEFEF;
  border-bottom: 1px solid #A4A4A4;

  @at-root {
    #{&}__header {

      &:hover {
        background-color: $hover-background-color;
      }
    }

    #{&}__body {
      display: none;
      border-bottom: 1px solid #ccc;
      padding-top: 1em;
      padding-bottom: 2em;
    }

    #{&}-is-opened #{&}__body {
      display: block;
    }
  }

}

.option-group-header {
  display: block;
  padding: 0 1em;
  text-decoration: none;
  color: black;

  @at-root {
    #{&}__title {
      display: inline-block;
      margin: 0;
      margin-left: .5em;
      font-size: 80%;
      font-weight: bold;
    }
  }
}
