.radioset {
  list-style: none;
  padding-left: 2em;

  @at-root {
    #{&}__label-text {
      margin-left: 1em;
    }

    #{&}--is-horizontal {
      padding-left: 0;
      margin: 0;
      overflow: hidden;
      list-style: none;
    }

    #{&}--is-horizontal #{&}__item {
      float: left;
      margin-right: 1em;

      &:first-child {
        margin-left: 3px;
      }
    }

    #{&}--is-horizontal #{&}__label-text {
      margin-left: .5em;
    }
  }
}
