.rule {
  border-bottom: 1px solid rgba(0, 0, 0, .2);

  @at-root {
    #{&}__header {
      padding: .5em 0;
    }

    #{&}__body {
      border-top: 1px dashed rgba(0, 0, 0, .2);
      padding-bottom: 1.5em;
    }
  }
}

.rule-list {
  width: 100%;
  list-style: none;
  padding: 0;

  @at-root {
    #{&}__header {
      border-bottom: 1px solid gray;
    }

    #{&}__item {
      overflow: hidden;
    }

    #{&}__name {
      display: inline-block;
      padding-left: .5em;
    }

    #{&}__radio {
      text-align: center;
    }
  }
}

.rule-status {
  display: inline-block;
  list-style: none;
  padding: 0;
  overflow: hidden;
  float: right;
  width: 30%;

  @at-root {
    #{&}__item {
      width: 33%;
      float: left;
      text-align: center;
    }

    #{&}__label {
      font-size: 75%;
    }
  }
}

.rule-arg-list {
  list-style: none;
  padding: 0;
}

.rule-arg {
  overflow: hidden;

  @at-root {
    #{&}__header {
    }

    #{&}__index {
      float: left;
      width: 10%;
      text-align: center;
    }

    #{&}__index-no {
      font-size: 80%;
    }

    #{&}__input {
      float: left;
      width: 90%;
    }

    #{&}__title {
      margin: .5em;
      font-weight: normal;
    }

    #{&}__body {
      padding-left: 1em;
    }

    #{&}__name {
      display: inline-block;
      padding: 0 1em;
      font-size: 80%;
    }

    #{&}__options {
      width: 80%;
    }
  }

  input[type="text"], input[type="number"] {
    padding: 0 .5em;
    font-size: 90%;
  }
}

.rule-arg-object {
  list-style: none;
  padding: 0;
}

.rule-arg-bool {
  @at-root {
    #{&}__checkbox{
      margin-right: .5em;
    }
  }
}

.rule-arg-oneof {
  list-style: none;
  padding: 0;

  @at-root {
    #{&}__radio {
      margin-right: .5em;
    }

    #{&}__or {
      font-size: 80%;
    }
  }


}
