.sidemenu {
  //padding: 1em 2em;
  overflow: scroll;
  overflow-x: auto;
  border-left: 1px solid #A4A4A4;
  font-size: 100%;
  z-index: 100;
  background-color: #EFEFEF;
  box-sizing: border-box;
  height: 100%;

  @at-root {
    #{&}__header {
      padding-left: .5em;
    }

    #{&}__contents {
      padding-left: 1em;
    }
  }

  .pure-table {
    width: 100%;
  }
}
