@import "base";
@import "option-group";
@import "checklist";
@import "checklist-table";
@import "checkbox";
@import "sidemenu";

.nav {
  box-shadow: 0px 1px #ccc;
}



.menu {
  height: 100%;
  background-color: #CCC;
}

.title {
  font-size: 110%;
}

.env-options {
  padding-left: 0px;

  @at-root {
    #{&}__item {
      list-style: none;
    }
  }
}

.env-option {
  @at-root {
    #{&}__label span {
      margin-left: .5em;
    }
  }
}

.ecma-feature-options {
  padding-left: 0px;

  @at-root {
    #{&}__item {
      list-style: none;
    }
  }
}

.ecma-feature-option {
  @at-root {
    #{&}__label span {
      margin-left: .5em;
    }
  }
}

.globals-form {
  @at-root {
    #{&}__name {

    }
  }
}

.rule {
  @at-root {
    #{&}__content {
      display: none;
    }

    #{&}__header {
    }

    #{&}--selected #{&}__content {
      display: block;
    }
  }
}

.rule-header {
  @at-root {
    #{&}__name {
      padding: 10px;
    }
  }
}
