/*
Error: It's not clear which file to import for '@import "main"'.
       Candidates:
         _main.scss
         main.scss
       Please delete or rename all but one of these files.
        on line 12 of public/styles/main.scss

7: @import "sidemenu";
8: @import "radioset";
9: @import "globals-option";
10: @import "parser-option";
11: @import "global-list";
12: @import "main";
13: 
14: .app {
15:   min-width: 950px;
16: }
17: 

Backtrace:
public/styles/main.scss:12
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/tree/import_node.rb:45:in `import'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/stack.rb:79:in `block in with_base'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/stack.rb:115:in `with_frame'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/stack.rb:79:in `with_base'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/tree/root_node.rb:20:in `render'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/engine.rb:268:in `render'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:209:in `each'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/exec/sass_scss.rb:361:in `watch_or_update'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/exec/base.rb:52:in `parse'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/lib/sass/exec/base.rb:19:in `parse!'
/Users/hanai/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.14/bin/sass:13:in `<top (required)>'
/Users/hanai/.rbenv/versions/2.1.3/bin/sass:23:in `load'
/Users/hanai/.rbenv/versions/2.1.3/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: It's not clear which file to import for '@import \"main\"'.\A        Candidates:\A          _main.scss\A          main.scss\A        Please delete or rename all but one of these files.\A         on line 12 of public/styles/main.scss\A \A 7: @import \"sidemenu\";\A 8: @import \"radioset\";\A 9: @import \"globals-option\";\A 10: @import \"parser-option\";\A 11: @import \"global-list\";\A 12: @import \"main\";\A 13: \A 14: .app {\A 15:   min-width: 950px;\A 16: }\A 17: "; }
